body {
    background-image: url('welcom3.jpg');
    background-size: cover;
}

.err {
    display: none;
    color: Red;
}

#navbar {
    z-index: 10000;
}

ul {
    display: inline-block;
    width: 100%;
    list-style: none;
    background-color: rgb(55, 56, 63, 0.6);
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav {
    display: inline;
    float: left;
    overflow: hidden;
}

.nav:hover {
    box-shadow: 2px 2px 10px #66686e;
}

button.nav_link {
    display: inline-block;
    line-height: 35px;
    min-width: 110px;
    padding: 2px 2px #DADADA;
    color: black;
    text-align: center;
    text-decoration: none;
    font-family: segoe script, dancing, purisa;
    font-size: 22px;
    cursor: pointer;
}

button.nav_link:hover {
    padding: 0px;
    background: #2091dd;
    box-shadow: 2px 2px 10px #66686e;
    color: white;
    cursor: pointer;
}

.section {
    text-align: center;
    right: 0%;
    left: 0%;
    top: 0%;
    bottom: 0%;
}

.form {
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

input {
    background-color: rgb(9, 74, 104);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 30px;
    width: 20%;
}

input:hover {
    opacity: 0.8;
    cursor: pointer;
}

button.before_game {
    background-color: white;
    color: black;
    padding: 12px 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    display: inline-block;
    white-space: normal;
    position: relative;
}

button.modalBtn {
    background-color: rgb(248, 249, 250);
    color: rgb(180, 58, 13);
    padding: 12px 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 50px;
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    display: inline-block;
    white-space: normal;
}

button.before_game:hover {
    opacity: 0.8;
    color: indianred;
    cursor: pointer;
}

button.modalBtn:hover {
    opacity: 0.8;
    color: indianred;
    cursor: pointer;
}

.text {
    font-size: 30px;
    color: black;
}

label {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}


/* label.color_lable {
    font-size: 30px;
    color: salmon;
} */

.choose_setup {
    position: relative;
    display: inline-block;
}

.choose_setup .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    table-layout: fixed;
    border-collapse: collapse;
    width: 400px;
    font-size: 23px;
}

.choose_setup:hover .tooltiptext {
    visibility: visible;
}

.title {
    color: ivory;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}


/* -------Modal--------- */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-image: url('fight-covid.jpg');
    background-size: cover;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1200px;
    height: 600px;
}


/* The Close Button */

.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}