.err {
    display: none;
    color: Red;
}

#navbar {
    z-index: 10000;
}

ul {
    display: inline-block;
    width: 100%;
    list-style: none;
    background-color: rgb(55, 56, 63, 0.6);
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav {
    display: inline;
    float: left;
    overflow: hidden;
}

.nav:hover {
    box-shadow: 2px 2px 10px #66686e;
}

a.nav_link {
    display: inline-block;
    line-height: 35px;
    min-width: 110px;
    padding: 2px 2px #DADADA;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: segoe script, dancing, purisa;
    font-size: 14px;
}

a.nav_link:hover {
    padding: 0px;
    background: #2091dd;
    color: #000000;
}

.form {
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

input[type=text],
input[type=password] {
    background-color: cornflowerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    resize: both;
}

input[type=text]:hover,
input[type=password]:hover {
    opacity: 0.8;
    cursor: pointer;
}

button {
    background-color: cornflowerblue;
    color: black;
    padding: 12px 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    resize: both;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.choose_setup {
    position: relative;
    display: inline-block;
}

.choose_setup .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.choose_setup:hover .tooltiptext {
    visibility: visible;
}